<div class="col d-flex justify-content-center">
  <div class="card" style="width: 60rem;">
    <div *ngIf="update" class="card-header bg-primary text-white">
      Édition de CTP
    </div>
    <div *ngIf="!update" class="card-header bg-primary text-white">
      Ajout d'un CTP
    </div>
    <div class="card-body">

      <form method="POST" (ngSubmit)="onSubmit()">

        <div [formGroup]="registerForm">
          <div class="form-groupe row">
            <label class="col-sm-6 col-form-label">Code</label>
            <div class="col-sm-6">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control text-left" name="code" *ngIf="update" disabled  formControlName="code" [(ngModel)]="ctpDetail.code" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" >
                <input type="text" class="form-control text-left" name="code"  *ngIf="!update" formControlName="code" [(ngModel)]="ctpDetail.code" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" >
                <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                  <div *ngIf="f.code.errors.required">Code est requis</div>
                  <div *ngIf="f.code.errors.minlength">Code doit comporter au moins 3 caractères</div>
                </div>
              </div>
            </div>
          </div>


          <div class="form-groupe row">
            <label class="col-sm-6 col-form-label">libellé</label>
            <div class="col-sm-6">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control text-left" name="label" *ngIf="update" formControlName="label" [(ngModel)]="ctpDetail.label" [ngClass]="{ 'is-invalid': submitted && f.label.errors }">
                <input type="text" class="form-control text-left" name="label" *ngIf="!update" formControlName="label" [(ngModel)]="ctpDetail.label" [ngClass]="{ 'is-invalid': submitted && f.label.errors }">
                <div *ngIf="submitted && f.label.errors" class="invalid-feedback">
                  <div *ngIf="f.label.errors.required">Label est requis</div>
                  <div *ngIf="f.label.errors.minlength">Label doit comporter au moins 4 caractères</div>
                </div>
              </div>
            </div>
          </div>


          <div class="form-groupe row">
            <label class="col-sm-6 col-form-label">Taux</label>
            <div class="col-sm-6">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control text-left" name="rate" *ngIf="update" formControlName="rate" [(ngModel)]="ctpDetail.rate" [ngClass]="{ 'is-invalid': submitted && f.rate.errors }">
                <input type="text" class="form-control text-left" name="rate" *ngIf="!update" formControlName="rate" [(ngModel)]="ctpDetail.rate" [ngClass]="{ 'is-invalid': submitted && f.rate.errors }">
                <div *ngIf="submitted && f.rate.errors" class="invalid-feedback">
                  <div *ngIf="f.rate.errors.required">Rate est requis</div>
                  <div *ngIf="f.rate.errors.minlength">Rate doit comporter au moins 1 caractère</div>
                </div>
              </div>
            </div>
          </div>

        </div>


        <div class="form-groupe row">
          <label class="col-sm-6 col-form-label">Date dernière modification</label>
          <div class="col-sm-6">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control text-left" name="date" disabled *ngIf="update" [ngModel]="ctpDetail.referentielAudit?.updateDate">
              <input type="text" class="form-control text-left" name="date" disabled *ngIf="!update">
            </div>
          </div>
        </div>


        <div class="mt-2">
          <button type="submit" (click)="updateCtp()" *ngIf="update" class="float-right btn btn-outline-success btn-sm"><i class="fa fa-check" aria-hidden="true"></i>&nbsp; Editer</button>
          <button type="submit" (click)="addCtp()" *ngIf="!update" class="float-right btn btn-outline-success btn-sm"><i class="fa fa-check" aria-hidden="true"></i>&nbsp; Ajouter</button>
          <button type="button" (click)="retour()" class="float-right btn btn-outline-secondary btn-sm mr-2"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp; Retour</button>
        </div>
      </form>
    </div>
  </div>
</div>



